@import "@/styles/global.scss";

.header {
  z-index: 1;
  transition: all 0.4s;
  background-position: center;
  background-size: cover;
  color: $text-high-emphasis;
  position: relative;
  padding-block-end: 100px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  inset-block-end: 0;
}

.gradients {
  z-index: -1;
  inline-size: 100%;
  block-size: 100%;
  position: absolute;

  div {
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
  }

  :nth-child(1) {
    background: linear-gradient(
      180deg,
      rgba(26, 29, 41, 0) 15.81%,
      rgba(26, 29, 41, 0.79) 64.73%,
      #1a1d29 97.83%
    );
  }
  :nth-child(2) {
    background: linear-gradient(
      221deg,
      rgba(26, 29, 41, 0) 49.29%,
      rgba(26, 29, 41, 0.79) 77.96%,
      #1a1d29 97.36%
    );
  }
  :nth-child(3) {
    block-size: 268px;
    background: radial-gradient(
      ellipse at top left,
      #000 -13.38%,
      rgba(0, 0, 0, 0) 64.68%
    );
  }
}

@media (max-width: 768px) {
  .header {
    padding-block-end: 30px;
  }
}
