@import "@/styles/global.scss";

.playerShow {
  font-family: $montserrat;
  width: 100%;
  height: 100%; 
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

.videoContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  background: rgb(0, 0, 0);
  z-index: 1;
  margin: 0;
  padding: 1%;
  height: 10%;
  width: 98%;
  max-width: 99%;

}

.backButton {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  width: 50px;
  height: 50px;
}

.headerInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin: 0;
  padding: 0;
}

.title {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.episode {
  color: white;
  font-size: 14px;

}

.playerShow {
  width: 100%;
  height: 97%;
  position: relative;
  
}

.videoContainer {
  width: 100%;
  height: 100%;
  position: relative;
  
}

.controlsContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent; 
  padding: 10px;
  padding: 0;

}


@media screen and (max-width: 768px) {
  .title {
    font-size: 16px;
  }
  .episode{
    font-size: 12px;
  }
  .header{
    width: 98%;
  }
  .headerInfo, .backButton{
    margin-top: 10px;
  }

  .backButton{
    width: 60px;
    height: 60px;
  }

}

