@import "@/styles/global.scss";

.playerShow {
  font-family: $montserrat;
  width: 100%;
  height: 100%; 
  position: relative;
}

.videoContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  background: rgb(0, 0, 0);
  padding: 20px;
  z-index: 1;
}

.backButton {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.headerInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.title {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.episode {
  color: white;
  font-size: 14px;
}

.playerShow {
  width: 100%;
  height: 97%;
  position: relative;
}

.videoContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.controlsContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent; 
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .playerShow {
    transform: rotate(90deg);
    transform-origin: left bottom;
    width: 180%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: -15%;
    z-index: 9999;
  }
}