.image {
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  max-inline-size: 100%;
}

.card {
  background-color: #353843C9;
  backdrop-filter: blur(8px);
  padding-inline: 2rem;
  padding-block: 2rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card h1 {
  all: unset;
  font: $typography-h1;
  color: $text-high-emphasis;
}