@import "@/styles/global.scss";

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-block-end: 16px;
  padding-inline: 80px;

  ul {
    position: static;
    padding: 0;

    button {
      margin: 0;
      opacity: unset;
      margin-inline: 4px;
      background: #c4c4c44d;
      transition: background 0.2s linear;
    }

    :global(.is-active) {
      background: $secondary;
      transform: unset;
    }
  }
}

.carousel {
  overflow: hidden;
  &:hover {
    .arrow {
      opacity: 1;
    }
  }

  :global(.splide__track) {
    overflow: unset;
  }
}

.arrow {
  height: calc(100% - 40px);
  top: calc(50% + 20px);
  opacity: 0;
  transition: opacity 0.2s;
  width: 5%;
  border-radius: 0;

  &:global(.splide__arrow--prev) {
    background: radial-gradient(ellipse 90% 50% at left, black, transparent);
    left: 0;
  }
  &:global(.splide__arrow--next) {
    background: radial-gradient(ellipse 90% 50% at right, black, transparent);
    right: 0;
  }

  svg {
    height: 3em;
    width: 3em;
    fill: white;
  }
}

.image {
  width: 240px;
  height: auto;
  border-radius: 8px;
  transition: all 0.2s;
}

.image:hover {
  transform: scale(1.2);
  z-index: 100;
  position: relative;
  box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, 0.5);
}

.title {
  color: #ffffff;
  margin: 0;
  font: $typography-h4;
}

@media (max-width: 768px) {
  .header {
    padding-inline: 16px;
  }
}
