@import "@/styles/global.scss";

.listcontent{
    width: 100%;

    
}

.listitle{
    padding-bottom: 2rem;
    padding-left: 80px;
    color: $neutral--100;
    font-family: $montserrat;
    font-size: 24px;
}
.episodelist{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 4rem;
    justify-content: center;
    row-gap: 1rem;
}