* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}


.header-container {
    display: flex;
    height: auto;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg,
            #0e1012 -50.62%,
            rgba(14, 16, 18, 0) 100%);
}

.navImage {
    width: 12.5rem;
    height: 4.2rem;
    flex-shrink: 0;
}

.navLeft,
.navRight {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.navLeft {
    padding-left: 1rem;
}

.navRight {
    justify-content: flex-end;
    padding-right: 1rem;
}

.nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.logo {
    width: 24px;
    height: 24px;
}

.navLeft img[src$="star.png"] {
    margin-right: 5px;
    vertical-align: middle;
}

.navLeft .nav-item[href*="celebridades"] {
    vertical-align: middle;
}

.user-avatar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (min-width: 768px) {
    .search-box {
        height: 3.6rem;
    }
}

@media (max-width: 768px) {
    .header-container {
        display: flex;
        width: 91.7%;
        padding: 1rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #input_nav {
        font-size: 5px;
    }

    .search-box {
        width: 80.5%;
        height: 6.37rem;
        flex-direction: row;
        flex-wrap: wrap;
        white-space: nowrap;
        display: flex;
    }

    .search-icons {
        float: left;
        margin-left: 20px;
    }

    .select-nav {
        width: 80px;
        margin-top: -10px;
        margin-left: 15px;
    }

    .user-avatar {
        position: relative;
    }

    .user-menu {
        align-items: flex-start;
    }

    .navImage {
        justify-content: baseline;
        margin-bottom: 1rem;
        order: -1;
    }

    .navLeft,
    .navRight {
        padding: 0.5rem;
        text-align: center;
        flex-wrap: wrap;
    }

    .navLeft .nav-item {
        margin-top: 0.5rem;
    }

    .centered-item {
        display: flex;
        text-align: center;
        width: 14rem;

        align-items: center;
    }

    .navLeft img.logo {
        margin: 0 auto;
    }

    .navLeft .nav-item {
        margin: 0;
        display: block;
    }

    .navLeft img[src$="star.png"] {
        margin-right: 5px;
    }

    .navLeft .nav-item[href*="celebridades"] {
        margin-left: 5px;
    }

    .navLeft .centered-item .nav-item {
        margin: 0;
    }

    .search-button {
        display: flex;
    }

    .dropdown-options {
        width: 100%;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-item {
        text-align: center;
    }

    .nav-item:last-child {
        margin-top: 0.5rem;
    }

    .navRight {
        order: -1;
    }

    .navRight {
        display: flex;
        align-items: center;
    }

    .search-button {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .search-button .logo {
        margin-right: 5px;
    }

    .search-button .nav-item {
        margin: 0;
    }

    .plus-button {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-left: 1rem;
    }

    .plus-button .logo {
        margin-right: 5px;
    }

    .plus-button .nav-item {
        margin: 0;
    }

    .minha-lista {
        margin-bottom: 5px;
    }
}

@media (max-width: 768px) {
    #input_nav {
        font-size: 13px;
    }

    .selected-icon {
        margin-left: 5px;
        font-size: 11px;
    }
}

@media (max-width: 768px) {

    .search-icons .search-icon img,
    .search-icons .close-icon img {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 768px) {
    .select-nav {
        height: 2rem;
    }
}

@media (max-width: 768px) {

    .search-button img.logo,
    .search-button p.nav-item,
    .search-button a.nav-item {
        padding-right: 10px;
    }
}

@media (max-width: 768px) {
    #svgdrop {
        margin-left: 10%;
    }
}

/* Search Modal */
.search-button {
    display: flex;
}

.search-box {
    align-items: center;
    display: flex;
    border-radius: 0.25rem;
    border: 1px solid rgba(255, 255, 255, 0.12);
    background: var(--neutral-700, #101116);
}

#svgdrop {
    margin-bottom: -7px;
    margin-left: 30%;
}

#input_nav {
    margin-left: 1rem;
    background-color: #101116;
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-grow: 1;
    width: 16rem;
    border: none;
    outline: none;
}

.select-nav {
    height: 2.6rem;
    position: relative;
    background-color: #101116;
    color: #fff;
    cursor: pointer;
    border-radius: 0.25rem;
    border: 2px solid rgba(255, 255, 255, 0.12);
}

.selected-option {
    display: flex;
    align-items: center;
}

.search-icons {
    margin-right: 5px;
    display: flex;
}

.selected-icon {
    margin-left: 5px;
    margin-top: 4px;
    margin-right: 15px;
}

.arrow-icon {
    margin-top: 9px;
    margin-right: 10px;
}

.search-icon,
.close-icon {
    margin-right: 10px;
    cursor: pointer;
}

.dropdown-options {
    width: 12rem;
    position: absolute;
    top: 130%;
    z-index: 900;
    background: var(--gray-200, #f3f5fb);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s;
    color: var(--gray-900, #160042);
    text-align: center;
    align-items: center;
    list-style: none;
}

.dropdown-options {
    visibility: visible;
    opacity: 1;
}

.dropdown-options li {
    padding: 0.5rem;
    cursor: pointer;
}

.dropdown-options li:hover {
    width: 92%;
    background: lightgray;
}

.select-nav:hover .dropdown-options {
    visibility: visible;
    opacity: 1;
}


/* USER_MENU */
.user-menu {
    width: 15.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--Border, #353843);
    background: var(--neutral-700, #101116);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.4);
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    color: white;
    margin-bottom: 1.25rem;
    right: 11%;
    z-index: 1;
}

.user-section {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.user-item:hover {
    background: lightgray;
}

.menu-item {
    margin-left: 1.5rem;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0.33rem;
}

.menu-item:last-child {
    margin-bottom: 1.25rem;
}

.menu-item:hover {
    color: var(--primary-100, #67bdff);
}

.user-item {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.user-item:hover {
    background: lightgray;
}

#svgdrop {
    margin-bottom: -7px;
    margin-left: 30%;
    position: relative;
    right: 24px;
}

.svg {
    top: 7%;
    right: 12.4%;
}

@media (max-width: 768px) {
    .user-menu {
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    #svgdrop {
        margin-left: 10%;
    }

    .svg {
        top: 82%;
        right: -11.5%;
    }
}


@media (max-width: 768px) {
    .user-menu {
        width: 16.5rem;
        align-items: flex-start;
        text-align: left;
    }
}

