
.headerContainer {

    display: flex;
    height: auto;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg,
            #0e1012 -50.62%,
            rgba(14, 16, 18, 0) 100%);
            margin: 0;
            padding: 0;
            font-family: 'Montserrat';
}

.navImage {
    width: 12.5rem;
    height: 4.2rem;
    flex-shrink: 0;
}

.navLeft,
.navRight {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.navLeft {
    padding-left: 1rem;
}

.navRight {
    justify-content: flex-end;
    padding-right: 1rem;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.navItem {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.logo {
    width: 24px;
    height: 24px;
}

.navLeft img[src$="star.png"] {
    margin-right: 5px;
    vertical-align: middle;
}

.navLeft .navItem[href*="celebridades"] {
    vertical-align: middle;
}

.userAvatar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.searchButton {
    display: flex;
    cursor: pointer;
}

@media (min-width: 768px) {
    .search-box {
        height: 3.6rem;
    }
}

@media (max-width: 768px) {
    .headerContainer {
        display: flex;
        width: 91.7%;
        padding: 1rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #input_nav {
        font-size: 5px;
    }

    .search-box {
        width: 80.5%;
        height: 6.37rem;
        flex-direction: row;
        flex-wrap: wrap;
        white-space: nowrap;
        display: flex;
    }

    .search-icons {
        float: left;
        margin-left: 20px;
    }


    .userAvatar {
        position: relative;
    }

    .user-menu {
        align-items: flex-start;
    }

    .navImage {
        justify-content: baseline;
        margin-bottom: 1rem;
        order: -1;
    }

    .navLeft,
    .navRight {
        padding: 0.5rem;
        text-align: center;
        flex-wrap: wrap;
    }

    .navLeft .navItem {
        margin-top: 0.5rem;
    }

    .centeredItem {
        display: flex;
        text-align: center;
        width: 14rem;

        align-items: center;
    }

    .navLeft img.logo {
        margin: 0 auto;
    }

    .navLeft .navItem {
        margin: 0;
        display: block;
    }

    .navLeft img[src$="star.png"] {
        margin-right: 5px;
    }

    .navLeft .navItem[href*="celebridades"] {
        margin-left: 5px;
    }

    .navLeft .centeredItem .navItem {
        margin: 0;
    }

    .searchButton {
        display: flex;
    }

    .dropdown-options {
        width: 100%;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navItem {
        text-align: center;
    }

    .navItem:last-child {
        margin-top: 0.5rem;
    }

    .navRight {
        order: -1;
    }

    .navRight {
        display: flex;
        align-items: center;
    }

    .searchButton {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .searchButton .logo {
        margin-right: 5px;
    }

    .searchButton .navItem {
        margin: 0;
    }

    .plus-button {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-left: 1rem;
    }

    .plus-button .logo {
        margin-right: 5px;
    }

    .plus-button .navItem {
        margin: 0;
    }

    .minha-lista {
        margin-bottom: 5px;
    }
}

@media (max-width: 768px) {
    #input_nav {
        font-size: 13px;
    }

    .selected-icon {
        margin-left: 5px;
        font-size: 11px;
    }
}

@media (max-width: 768px) {

    .search-icons .search-icon img,
    .search-icons .close-icon img {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 768px) {

    .searchButton img.logo,
    .searchButton p.navItem,
    .searchButton a.navItem {
        padding-right: 10px;
    }
}

@media (max-width: 768px) {
    #svgdrop {
        margin-left: 10%;
    }
}