
.sections {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 15%;
}

.sections:hover .nav-item,
.sections:hover .logo {
  color: #02e7f5;
}

.sections:hover .logo {
  filter: invert(69%) sepia(98%) saturate(907%) hue-rotate(131deg)
    brightness(200%) contrast(150%);
}

.active .logo {
  filter: invert(69%) sepia(98%) saturate(907%) hue-rotate(131deg)
    brightness(200%) contrast(150%);
}
.active {
  color: #02e7f5;
}

@media (max-width: 768px) {
  .sections {
    width: 30%;
    margin: 0 auto;
  }
}


.sections {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 15%;
}

.sections:hover .nav-item,
.sections:hover .logo {
  color: #02e7f5;
}

.sections:hover .logo {
  filter: invert(69%) sepia(98%) saturate(907%) hue-rotate(131deg)
    brightness(200%) contrast(150%);
}

.sections.active .logo {
  filter: invert(69%) sepia(98%) saturate(907%) hue-rotate(131deg)
    brightness(200%) contrast(150%);
  color: #02e7f5;
}

.sections.active {
  color: #02e7f5;
}

@media (max-width: 768px) {
  .sections {
    width: 30%;
    margin: 0 auto;
  }
}
