.user-menu {
  width: 15.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Border, #353843);
  background: var(--neutral-700, #101116);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.4);
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  z-index: 1;
  color: white;
  margin-bottom: 1.25rem;
  right: -14%;
}

.user-section {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.user-item:hover {
  background: lightgray;
}

.menu-item {
  margin-left: 1.5rem;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0.33rem;
}

.menu-item:last-child {
  margin-bottom: 1.25rem;
}

.menu-item:hover {
  color: var(--primary-100, #67bdff);
}

.user-item {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  cursor: pointer;
  width: 91%;
}

.user-item:hover {
  background: lightgray;
}

#svgdrop {
  margin-bottom: -7px;
  margin-left: 30%;
  position: relative;
  right: 24px;
}

.svg {
  top: 8%;
  right: 9.8%;
}

@media (max-width: 768px) {
  .user-menu {
    align-items: flex-start;
    text-align: left;
    width: 16.5rem;
  }
}

@media (max-width: 768px) {
  #svgdrop {
    margin-left: 10%;
  }
  .svg {
    top: 82%;
    right: -11.5%;
  }
}
.active .nav-item {
  color: #02e7f5;
}
