@import "@/styles/global.scss";

.card {
  border-radius: 8px;
  background: rgba($neutral-100, 0.1);
}

.info h2 {
  color: $neutral--100;
  font-family: $montserrat;
  font-size: 15px;
}

.episodeimg {
  display: flex;
  align-items: center;
}

.containerinfor p {
  color: var(--text-medium-emphasis, $neutral-200);
  font-family: $montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.card:hover {
  transform: scale(1.02);
  background: #3d4049;
}

.playicon {
  position: absolute;
  transform: translate(-50%, -50%);
  block-size: 40px;
  inline-size: 40px;
  display: none;
  color: white;
}

.card:hover .playicon {
  display: block;
}

@media screen and (max-width: 768px) {
  .card {
    width: 44%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;

    img {
      width: 100%;
      height: auto;
      flex-shrink: 0;
      flex-shrink: 0;
      border-radius: 8px 8px 0 0;
    }
  }

  .playicon {
    top: 15%;
    left: 50%;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  .containerinfor {
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }
}

@media screen and (min-width: 768px) {
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: stretch;
    flex-wrap: wrap;
  }

  .playicon {
    top: 50%;
    left: 20%;
  }

  .containerinfor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    padding-right: 1rem;
  }

  .card {
    display: flex;
    width: 45%;
    height: auto;
    padding-right: 0px;
    align-items: center;
    gap: 17px;
    flex-shrink: 0;
  }

  .card img {
    width: 100%;
    height: 128px;
    flex-shrink: 0;
    border-radius: 8px 0 0 8px;
  }
}
