@import "@/styles/global.scss";

.card {
    border-radius: 8px;
    background: rgba($neutral-100, 0.10);
}

.info h2 {
    color: $neutral--100;
    font-family: $montserrat;
    font-size: 15px;
}

.episodeimg{
    display: flex;
    align-items: center;
}


.containerinfor p {
    color: var(--text-medium-emphasis, $neutral-200);
    font-family: $montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}


@media screen and (max-width: 768px) {
    .card{
    width: 193px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
        
        img{
            width: 193px;
            height: 128px;
            flex-shrink: 0;
            flex-shrink: 0;
            border-radius: 8px 8px 0 0;
        }
    }
    .info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
    }

    .containerinfor{
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    }

}

@media screen and (min-width: 768px){
    
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: stretch;
    flex-wrap: wrap;
}

.containerinfor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    padding-right: 1rem;
}


.card {
    display: flex;
    width: 40%;
    height: 128px;
    padding-right: 0px;
    align-items: center;
    gap: 17px;
    flex-shrink: 0;
}

.card img {
    width: 221px;
    height: 128px;
    flex-shrink: 0;
    border-radius: 8px 0 0 8px;
}
}