@use "sass:color";

$primary-100: #67bdff;
$primary-200: #068dff;
$primary-300: #037aeb;
$primary-400: #0063e5;
$primary-500: #00386c;
$secondary: #02e7f5;
$accent: #ffffff;
$neutral--100: #ffffff;
$neutral-100: #f9f9f9;
$neutral-200: #c8c9cb;
$neutral-300: #74757d;
$neutral-400: #5f6169;
$neutral-500: #30333e;
$neutral-600: #1a1d29;
$neutral-700: #101116;
$opacity-04: #f9f9f966;
$opacity-10: #0000001a;
$opacity-12: #ffffff1f;
$opacity-white-10: #ffffff1a;
$text-link: $primary-100;
$text-high-emphasis: $neutral-100;
$text-medium-emphasis: $neutral-200;
$text-disabled: $neutral-400;
$background: $neutral-600;
$border: $opacity-12;
$hover-button-outline: $opacity-10;
$montserrat: var(--font-montserrat);
$lato: var(--font-lato);
$typography-h1: bold min(44px, 9vw) $montserrat;
$typography-h2: bold 32px $montserrat;
$typography-h3: bold 24px $montserrat;
$typography-subtitle: bold min(24px, 6vw) $lato;
$typography-h4: bold 20px $montserrat;
$typography-button: bold min(16px, 4vw) $montserrat;
$typography-body-large: normal 20px $montserrat;
$typography-body-review: normal 16px $montserrat;
$typography-body-small: normal min(14px, 4vw) $montserrat;
$typography-caption: normal 12px $montserrat;

@mixin button($color) {
  background-color: $color;
  transition: background 300ms;

  &:hover {
    background-color: color.adjust($color, $lightness: 10%);
  }

  &:active {
    background-color: color.adjust($color, $lightness: 20%);
  }
}