@import "@/styles/global.scss";

.maincontent{
    margin-left: 80px;
    width: 100%;
    overflow: hidden;
}
.imagemovie{
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid var(--Border, #353843);
    object-fit:  cover;
    position: relative;
}

.imagemovie:hover{
    transform: scale(1.08); 
    transition: transform 0.3s ease;
    z-index: 1;
}

.title{
    color: #ffffff;
    margin: 0;
    padding-bottom: 1rem;
    font: $typography-h4;

}

@media screen and (max-width: 768px){
    .maincontent,.maincontent h1{
        margin-left: 1rem;
        width: 100%;
    }
}
